@import "./ui-kit/_variables.module.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

@font-face {
  font-family: "PlusJakartaSans-Regular";
  src: url("../fonts/PlusJakartaSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PlusJakartaSans-Bold";
  src: url("../fonts/PlusJakartaSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "PlusJakartaSans-ExtraBold";
  src: url("../fonts/PlusJakartaSans-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "PlusJakartaSans-Bold";
  src: url("../fonts/PlusJakartaSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "PlusJakartaSans-Medium";
  src: url("../fonts/PlusJakartaSans-Medium.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "PlusJakartaSans-Regular", "Open Sans", sans-serif;
}

.text-light {
  font-weight: 300;
}

.text-semi-bold {
  font-weight: 600;
}

.text-bold {
  font-weight: 700;
}

.text-extra-bold {
  font-weight: 800;
}

// Scrollbar
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #c4c4c4;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #c4c4c4;
}

// Empty State
.empty-state {
  text-align: center;
  padding-top: 25%;
}
.empty-state-caption {
  margin-top: 20px;
}

ul {
  padding-left: 0 !important;
}

// Navbar
.navbar {
  background: rgba(255, 248, 239, 1);
  box-shadow: 0 0.25rem 0.75rem transparent;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: all 0.2s ease-out;
  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
    .navbar-logo {
      color: $base-color-tooltip;
      justify-self: start;
      margin-left: 20px;
      margin-top: -20px;
      cursor: pointer;
      text-decoration: none;
      font-size: 2rem;
      font-weight: bolder;
      display: flex;
      align-items: center;
      .navbar-logo-img {
        max-height: 70px;
      }
    }
    .menu-icon {
      display: none;
    }
    .nav-menu {
      display: grid;
      grid-template-columns: repeat(6, auto);
      grid-gap: 10px;
      list-style: none;
      text-align: center;
      width: 60vw;
      justify-content: center;
      margin-right: 2rem;
      .nav-item {
        height: 80px;
        position: relative;
        .nav-links {
          color: $base-color-tooltip;
          display: flex;
          font-weight: bold;
          align-items: center;
          text-decoration: none;
          padding: 0.5rem 1rem;
          height: 100%;
          &:hover {
            color: $base-color-primary;
          }
        }
      }
      .nav-links-mobile,
      .language-btn-mobile {
        display: none;
      }
    }
    .btn-nav-links {
      color: #fff;
      margin-top: -10px;
      border: 2px solid transparent;
    }
    .language-btn {
      cursor: pointer;
      margin-left: 20px;
      padding-bottom: 10px;
      font-weight: bold;
      .language-icon {
        height: 24px;
        width: 24px;
        border-radius: 50%;
        margin-right: 10px;
      }
      width: 100px;
      .MuiSvgIcon-root {
        color: $base-color-primary;
        margin-top: -5px;
      }
    }
  }
}

.language-icon {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin-right: 10px;
}

.navbar.scroll {
  background: #fff;
  box-shadow: 0 0.25rem 0.75rem rgba(30, 34, 40, 0.15);
  .navbar-container {
    .navbar-logo {
      &:hover {
        color: $base-color-primary;
      }
    }
    .nav-menu {
      .nav-item {
        .nav-links {
          &:hover {
            color: $base-color-primary;
          }
          .MuiSvgIcon-root {
            &:hover {
              color: $base-color-primary;
            }
          }
        }
      }
    }
    .btn-nav-links {
      border: 2px solid rgba(255, 255, 255, 0.3);
    }
    .language-btn {
      &:hover {
        color: $base-color-primary;
      }
      .MuiSvgIcon-root {
        &:hover {
          color: $base-color-primary;
        }
      }
    }
  }
}

// FOOTER
.footer {
  background-color: #343f52;
  position: relative;
  clear: both;
  transition: all 0.2s ease-in-out;
  .upper-footer {
    padding-top: 35px;
    padding-bottom: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    border-bottom: 1px solid #fff;
    .upper-footer-title {
      font-family: "PlusJakartaSans-Bold";
      font-size: 2.25rem;
    }
    .upper-footer-btn {
      text-align: right;
      button {
        font-size: 0.85rem;
        font-weight: 700;
        line-height: 1.7;
        border-radius: 50rem;
        padding: 10px 20px;
      }
    }
  }

  .bottom-footer {
    color: white;
    background-color: #343f52;
    padding: 45px 0 40px;
    .title {
      font-size: 2rem;
      font-weight: bolder;
      margin-bottom: 20px;
    }
    .title-text {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 20px;
      &.email {
        margin-bottom: 0;
        margin-top: 20px;
        cursor: pointer;
        &:hover {
          color: $base-color-primary;
        }
      }
    }
    .common-text {
      color: #a8c1ca;
      font-weight: bold;
      &.address {
        padding-right: 30px;
      }
      &.subscribe {
        margin-bottom: 20px;
      }
      &.copyright {
        padding-right: 115px;
      }
    }
    .col-lg-3 {
      a {
        text-decoration: none;
        color: #fff;
        &:hover {
          color: $base-color-primary;
        }
      }
    }
    .footer-btn {
      .MuiInputLabel-root {
        color: #a8c1ca;
      }
      button {
        height: 56px;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
      }
    }
  }
}

.home-container {
  .section-1 {
    min-height: calc(100vh - 80px);
    background: linear-gradient(
      0deg,
      rgba(254, 254, 254, 1) 0%,
      rgba(255, 248, 239, 1) 100%
    );
    .section-1-jumbotron {
      width: 100%;
      max-width: 620px;
    }
    .big-title {
      line-height: 1.15;
      font-size: 2.75rem;
      margin-bottom: 1.25rem;
      color: #343f52;
      font-weight: bolder;
      font-family: "PlusJakartaSans-ExtraBold";
    }
    .title {
      font-size: 1.1rem;
      line-height: 1.55;
      margin-bottom: 1.75rem;
      color: #60697b;
    }
    .section-1-btn {
      button {
        font-size: 0.85rem;
        font-weight: 700;
        line-height: 1.7;
        border-radius: 50rem;
        padding: 10px 20px;
      }
      button:hover {
        transform: translateY(-0.15rem);
        box-shadow: 0 0.25rem 0.75rem rgba(30, 34, 40, 0.15);
      }
    }
  }
  .section-2 {
    margin-top: 100px;
    .section-2-question {
      font-size: 1rem;
      color: #aab0bc;
      margin-bottom: 0.75rem;
      text-align: center;
      font-weight: bold;
    }
    .section-2-answer {
      font-size: 2.25rem;
      color: #343f52;
      margin-bottom: 2.5rem;
      text-align: center;
      line-height: 1.25;
      font-family: "PlusJakartaSans-ExtraBold";
      font-weight: bold;
    }
    .section-2-card-list {
      .section-2-card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        align-items: center;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border-radius: 0.4rem;
        box-shadow: 0 0.25rem 1.75rem rgba(30, 34, 40, 0.07);
        padding: 2rem;
        .material-icons {
          font-size: 4rem;
          margin-bottom: 20px;
        }
        .section-2-card-title {
          text-align: center;
          font-weight: bold;
          margin-bottom: 20px;
        }
        .section-2-card-desc {
          text-align: center;
          font-weight: 500;
          color: #aab0bc;
          margin-bottom: 20px;
        }
        .section-2-card-link {
          text-align: center;
          font-weight: bold;
          transition: all 0.2s ease-in-out;
          border-bottom: 1px solid transparent;
          cursor: pointer;
          &.orange {
            color: $base-color-primary;
            &:hover {
              border-bottom: 1px solid $base-color-primary;
            }
          }
          &.pink {
            color: #e2626b;
            &:hover {
              border-bottom: 1px solid #e2626b;
            }
          }
          &.green {
            color: #8dcdb8;
            &:hover {
              border-bottom: 1px solid #8dcdb8;
            }
          }
          &.blue {
            color: #6492e6;
            &:hover {
              border-bottom: 1px solid #6492e6;
            }
          }
        }
      }
    }
  }
  .section-3 {
    min-height: calc(100vh - 80px);
    margin-top: 100px;
    background: linear-gradient(
      0deg,
      rgba(255, 248, 239, 1) 0%,
      rgba(254, 254, 254, 1) 100%
    );
    .section-3-jumbotron {
      width: 100%;
      max-width: 620px;
    }
    .section-3-analyze {
      font-size: 1rem;
      color: #aab0bc;
      margin-bottom: 0.75rem;
      font-weight: bold;
    }
    .big-title {
      line-height: 1.15;
      font-size: 2.5rem;
      margin-bottom: 1.25rem;
      color: #343f52;
      font-weight: bolder;
      font-family: "PlusJakartaSans-Bold";
    }
    .title {
      font-size: 1rem;
      line-height: 1.55;
      margin-bottom: 1.75rem;
      color: #60697b;
    }
    .section-3-btn {
      button {
        font-size: 0.85rem;
        font-weight: 700;
        line-height: 1.7;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 10px 20px;
        height: 57px;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }
    }
  }
  .section-4 {
    margin-top: 100px;
    min-height: calc(100vh - 80px);
    .section-4-jumbotron {
      width: 100%;
      max-width: 620px;
    }
    .section-4-talk {
      font-size: 1rem;
      color: #aab0bc;
      margin-bottom: 0.75rem;
      font-weight: bold;
    }
    .big-title {
      line-height: 1.15;
      font-size: 2.5rem;
      margin-bottom: 1.25rem;
      color: #343f52;
      font-weight: bolder;
      font-family: "PlusJakartaSans-Bold";
    }
    .title {
      font-size: 1rem;
      line-height: 1.55;
      margin-bottom: 1.75rem;
      color: #60697b;
    }
    .section-4-btn {
      button {
        font-size: 0.85rem;
        font-weight: 700;
        line-height: 1.7;
        border-radius: 50rem;
        padding: 10px 20px;
      }
      button:hover {
        transform: translateY(-0.15rem);
        box-shadow: 0 0.25rem 0.75rem rgba(30, 34, 40, 0.15);
      }
    }
    .partner {
      margin-top: 100px;
      margin-bottom: 100px;
      max-height: 30px;
    }
  }
}

@media screen and (max-width: 960px) {
  // Navbar
  .NavbarItems {
    position: relative;
  }

  .navbar {
    .navbar-container {
      .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
        margin-left: 0;
        margin-top: -10px;
      }

      .menu-icon {
        display: block;
        position: absolute;
        top: -5px;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        .material-icons {
          color: $base-color-tooltip;
        }
      }

      .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        justify-content: flex-start;
        .nav-item {
          height: 60px;
        }
        .nav-links {
          text-align: center;
          padding: 2rem;
          width: 100%;
          display: table;
          background-color: transparent;
        }
        .nav-links:hover {
          background-color: #fff;
          color: $base-color-primary;
          border-radius: 0;
        }
        .nav-links-mobile {
          display: block;
          text-align: center;
          margin: 1rem auto;
          border-radius: 4px;
          width: 80%;
          text-decoration: none;
          font-size: 1rem;
          background-color: transparent;
          color: #fff;
          padding: 14px 20px;
          border: 1px solid #fff;
          transition: all 0.3s ease-out;
        }
        .language-btn-mobile {
          display: block;
          text-align: center;
          font-size: 1rem;
          color: $base-color-tooltip;
          padding: 14px 20px;
          transition: all 0.3s ease-out;
          .language-btn {
            margin-left: 0;
            width: 100%;
          }
        }
        .nav-links-mobile:hover {
          background: #fff;
          color: $base-color-primary;
          transition: 250ms;
        }
      }

      .nav-menu.active {
        background: #fff;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
      }
    }
  }
  .navbar.scroll {
    .navbar-container {
      // .menu-icon {
      //   .material-icons {
      //     color: #fff;
      //   }
      // }
      .nav-menu {
        // .nav-links.active,
        .nav-links:hover {
          background-color: #fff;
          color: $base-color-primary;
          border-radius: 0;
        }
      }
    }
  }

  .footer {
    .upper-footer {
      flex-direction: column;
      .socmed-container {
        margin-top: 10px;
      }
    }

    .bottom-footer {
      .footer-detail {
        margin-bottom: 20px;
        .footer-logo {
          justify-content: center;
          display: flex;
          margin-bottom: 1rem;
          padding-bottom: 1rem;
          border-bottom: 1px solid #dee2e6;
        }
        .footer-pkbl {
          text-align: center;
          margin-bottom: 1rem;
          padding-bottom: 1rem;
          border-bottom: 1px solid #dee2e6;
        }
        .footer-contact {
          text-align: center;
          border-bottom: 1px solid #dee2e6;
          .col .col .row {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  .home-container {
    .section-1 {
      min-height: max-content;
      .big-title {
        margin-top: 30px;
        text-align: center;
        font-size: 2.25rem;
      }
      .title {
        text-align: center;
        font-size: 1.25rem;
      }
      .section-1-btn {
        text-align: center;
      }
    }
    .section-2 {
      min-height: max-content;
      margin-top: 20px;
      .section-2-card-list {
        .section-2-card {
          margin-bottom: 20px;
        }
      }
    }
    .section-3 {
      min-height: max-content;
      margin-top: 20px;
      padding-bottom: 30px;
      .row {
        flex-direction: column-reverse;
      }
      .section-3-jumbotron {
        margin-bottom: 20px;
      }
      .big-title {
        font-size: 2rem;
      }
      .title {
        font-size: 1rem;
      }
      .section-3-btn {
        text-align: center;
        button {
          font-size: 1rem;
        }
      }
    }
    .section-4 {
      min-height: max-content;
      margin-top: 50px;
      .section-4-jumbotron {
        width: 100%;
        max-width: 620px;
        margin-bottom: 30px;
      }
      .big-title {
        font-size: 2rem;
      }
      .section-4-btn {
        button {
          font-size: 1rem;
        }
      }
      .partner {
        margin-top: 10px;
        margin-bottom: 10px;
        max-height: 20px;
      }
      .row:first-child {
        margin-bottom: 30px;
      }
    }
  }
  .footer {
    margin-top: 30px;
    .upper-footer {
      grid-template-columns: 1fr;
      grid-gap: 20px;
      align-items: center;
      .upper-footer-title {
        font-size: 1.75rem;
      }
      .upper-footer-btn {
        text-align: left;
        button {
          font-size: 1rem;
        }
      }
    }

    .bottom-footer {
      color: white;
      background-color: #343f52;
      padding: 45px 0 40px;
      .col-lg-3 {
        margin-bottom: 30px;
      }
      .common-text {
        &.copyright {
          padding-right: 20px;
        }
      }
      .footer-btn {
        text-align: center;
        button {
          font-size: 1rem;
        }
      }
    }
  }
}
